nav {
    box-shadow: none;
}
.navbar-fixed {
    height: 92px;
}
nav.nav-extended .nav-wrapper {
    min-height: 62px;
}
nav.nav-extended .nav-content {
    line-height: 42px;
}
nav .brand-logo {
    font-size: 1em;
    font-weight: 600;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
nav ul a {
    font-size: 1em;
    color: #000;
    font-weight: bold;
}

nav.nav-extended .nav-content .container {
    border-top: 1px solid #42404026;
}
nav.nav-extended .nav-content .container li a {
    /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); */
    /* padding: 0px 15px 5px 15px; */
    font-size: 1em;
    font-weight: bold;
    color: #000000;
}
nav ul li.active {
    background-color: #ffff; 
}
nav ul li.active a {
    background-color: #d6d6d685;
    border-top: 2px solid #f16726;
    
}
.nav-icon {
    position: relative;
    right: -128px;
}
.nav-icon li a {
    padding: 0 5px;
}
.nav-icon li a i {
    height: 32px;
    line-height: 42px;
    color: #f16726;
}
.navbar-fixed .orange.darken-2 {
    background-color: #ffffff !important;
}
.brand-logo img {
    width: 136px;
}
.navbar-fixed .dropdown-content {
    left: auto !important;
    top: auto !important;
    width: 432px !important;
    right: 0;
}
.navbar-fixed .dropdown-content .card {
    margin: 0;
}
.navbar-fixed .dropdown-content .card .card-content {
    display: flex;
    padding: 15px 24px 5px 24px !important;
}
.navbar-fixed .dropdown-content .card .card-content .prof-img {
    flex: 1;
    margin-bottom: 0;
    padding-right: 0%;
}
.navbar-fixed .dropdown-content .card .card-content .prof-img img {
    max-width: 100px;
}
.navbar-fixed .dropdown-content .card .card-content .prof-title {
    flex: 2;
    margin-bottom: 0;
    position: relative;
    top: 2em;
}
.navbar-fixed .dropdown-content .card .card-content .card-title {
    line-height: 0.5;
}
.navbar-fixed .dropdown-content .card .card-content p {
    color: #ffffff7a;
}
.navbar-fixed .dropdown-content .card .card-action {
    display: flex;
    justify-content: center;
    padding: 0 !important;
}
.navbar-fixed .dropdown-content .card .card-action a {
    border-right: 1px solid #e2dede45;
    padding: 15px;
    padding-right: 35px;
}
.navbar-fixed .dropdown-content .card .card-action a:last-child {
    border-right: none;
    padding: 15px;
    padding-right: 10px;
}
/* message and notification */
.navbar-fixed .nav-icon .message-notif .badge,
.navbar-fixed .nav-icon .notification .badge {
    display: inline-block;
    min-width: 0px;
    padding: 1px 0;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #f50000;
    border-radius: 100%;
    position: absolute;
    top: 2px;
    right: 35px;
    width: 22%;
    height: 44%;
}
.navbar-fixed .nav-icon .notification .badge {
    top: 2px;
    right: 0px;
}